<div class="panel panel-danger">
    <form align="">
        <tr>
            <div class="panel-heading">
                {{name}}
            </div>
            Full Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="fullName" maxlength="15" placeholder="FullName">
            <br>
            <br>City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="city" maxlength="15" placeholder="City">
            <br>
            <br> Credit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="number" name="credit" min="1" max="1000" placeholder="credit">
            <br>
            <br> Next Payment
            <input type="date" name="nextPayment" min="2018-02-09" placeholder="Next Payment">
            <br>
            <br>
            <input class="btn btn-success" type="submit" onclick="alert('Something went wrong')" value="Submit">
            <br>
            <br>
        </tr>

        <br>
    </form>
</div>